body {
  background-color: white;
}

* {
  /* font-size: 1em; */
  font-family:'Courier New', Courier, monospace;

  box-sizing: border-box; /* grid style */
}

a {
  color: black;
  font-weight: normal;
  text-decoration: underline dashed;
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline solid;
}


.video-16-9 iframe {
  width: 100%;
  margin: auto;
  height: calc(0.5625 * (100vw - 2.1em)); /* 0.5625=9/16 (da 720/1280), 0.8=576/720 */
}




/********************
        custom  
*********************/

@media only screen and (min-width: 770px) {
  aside.left {
    padding-right: 1em;
  }
}

@media only screen and (max-width: 768px) {

  * {
    font-size: 1em;
  }

  h1 {    
    font-size: 1em;
  }

  aside {
    margin-bottom: 2em;
  }
}

.pannello {
  display: block;
}



/********************
    fine custom  
*********************/








/********************
  classi standard
*********************/

  /**** colori ****/
  .bianco {
    background-color: white;
    color: black;
  }
  .grigio-chiaro {
    background-color: hsl(0, 0%, 60%);
    color: white;
  }
  .grigio {
    background-color: hsl(0, 0%, 40%);
    color: white;
  }
  .nero-chiaro, .grigio-scuro {
    background-color: hsl(0, 0%, 20%);
    color: white;
  }
  .nero, .nero-scuro {
    background-color: hsl(0, 0%, 0%);
    color: white;
  }
  .rosso-chiaro {
    background-color: hsl(0, 89%, 84%);
    color: black;
  }
  .rosso {
    background-color: hsl(0, 89%, 64%);
    color: white;
  }
  .rosso-scuro {
    background-color: hsl(0, 89%, 44%);
    color: white;
  }
  .verde-chiaro {
    background-color: hsl(120, 32%, 64%);
    color: black;
  }
  .verde {
    background-color: hsl(120, 32%, 44%);
    color: white;
  }
  .verde-scuro {
    background-color: hsl(120, 32%, 24%);
    color: white;
  }
  .verde-acido-chiaro {
    background-color: hsl(110, 100%, 69%);
    color: black;
  }
  .verde-acido {
    background-color: hsl(110, 100%, 39%);
    color: white;
  }
  .verde-acido-scuro {
    background-color: hsl(110, 100%, 19%);
    color: white;
  }
  .blu-chiaro {
    background-color: hsl(221, 80%, 66%);
    color: black;
  }
  .blu {
    background-color: hsl(221, 80%, 46%);
    color: white;
  }
  .blu-scuro {
    background-color: hsl(221, 80%, 26%);
    color: white;
  }
  .giallo-chiaro {
    background-color: hsl(61, 100%, 90%);
    color: black;
  }
  .giallo {
    background-color: hsl(61, 100%, 70%);
    color: black;
  }
  .giallo-scuro {
    background-color: hsl(61, 100%, 50%);
    color: black;
  }
  .arancio-chiaro, .arancione-chiaro {
    background-color: hsl(34, 100%, 80%);
    color: black;
  }
  .arancio, .arancione {
    background-color: hsl(34, 100%, 60%);
    color: white;
  }
  .arancio-scuro, .arancione-scuro {
    background-color: hsl(34, 100%, 40%);
    color: white;
  }
  .viola-chiaro {
    background-color: hsl(271, 100%, 75%);
    color: black;
  }
  .viola {
    background-color: hsl(271, 100%, 55%);
    color: white;
  }
  .viola-scuro {
    background-color: hsl(271, 100%, 35%);
    color: white;
  }



  /***** box *****/
    /**** radius *****/
    .bordo-tondo {
      border-radius: 0.25em;
      padding: 0.125em;
    }
    .bordo-tondo-2 {
      border-radius: 0.5em;
      padding: 0.25em;
    }
    .bordo-tondo-4 {
      border-radius: 1em;
      padding: 0.5em;
    }
    .bordo-tondo-8 {
      border-radius: 2em;
      padding: 1em;
    }
    /**** shadow ****/
    .ombra-bianca {
      box-shadow: 0 0 0.125em 0 white;
    }
    .ombra-bianca-2 {
      box-shadow: 0 0 0.25em 0 white;
    }
    .ombra-nera {
      box-shadow: 0 0 0.125em 0 black;
    }
    .ombra-nera-2 {
      box-shadow: 0 0 0.25em 0 black;
    }
    /**** bordo ****/
    .bordo {
      border: 1px gray solid;
    }
    .bordo-2 {
      border: 2px gray solid;
    }
    .bordo-4 {
      border: 4px gray solid;
    }
    .bordo-8 {
      border: 8px gray solid;
    }



  /**** margini ****/
  .margini {
    margin: 1em;
  }
  .margine-sopra {
    margin-top: 1em;
  }
  .margine-sotto {
    margin-bottom: 1em;
  }
  .margine-destro, .margine-destra {
    margin-right: 1em;
  }
  .margine-sinistro, .margine-sinistra {
    margin-left: 1em;
  }
  .margine-sotto-sopra, .margine-sopra-sotto {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .margine-destro-sinistro, .margine-sinistro-destro, .margine-destra-sinistra, .margine-sinistra-destra {
    margin-right: 1em;
    margin-left: 1em;
  }



  /**** padding ****/
  .padding {
    padding: 1em;
  }

  .padding-sopra {
    padding-top: 1em;
  }

  .padding-sotto {
    padding-bottom: 1em;
  }

  .padding-destro, .padding-destra {
    padding-right: 1em;
  }

  .padding-sinistro, .padding-sinistra {
    padding-left: 1em;
  }

  .padding-sopra-sotto, .padding-sotto-sopra {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .padding-destra-sinistra,.padding-sinistra-destra, .padding-destro-sinistro, .padding-sinistro-destro {
    padding-left: 1em;
    padding-right: 1em;
  }



  /**** allinea testo ****/
  .centra, .centro {
    text-align: center;
  }

  .giustifica, .giustificato {
    text-align: justify;
  }

  .sinistra {
    text-align: left;
  }

  .destra {
    text-align: right;
  }


  /********************
    grid styles start 
  *********************/

  [class*="col-"] {
    float: left;
    /*padding: 1em;*/
  }

  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  @media only screen and (max-width: 768px) {
    /* For mobile phones only */
    [class*="col-"] {
      width: 100%;
    }
  }

  .row::after {
    content: ""; /* sets the content after the div.row element */
    clear: both; /* not allows the floating on left and right of the div.row */
    display: table; /* div.row acts like a table */
  }

  /********************
    grid styles end 
  *********************/

/********************
 classi standard fine
*********************/

