body {
  background-color: #52ff2f;
}

* {
  font-size: 1.12em;
  font-family:'Courier New', Courier, monospace;

  box-sizing: border-box; /* grid style */
}

a {
  color: black;
  font-weight: normal;
  text-decoration: underline dashed;
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline solid;
}


.video-16-9 iframe {
  width: 100.0%;
  height: 40vw;
}


/********************
        custom  
*********************/

@media only screen and (min-width: 770px) {
  aside {
    padding-right: 1em;
  }
}

@media only screen and (max-width: 768px) {

  * {
    font-size: 1em;
  }

  h1 {    
    font-size: 1em;
  }

  aside {
    margin-bottom: 2em;
  }
}



.sfondo-nero {
  background-color: black !important; 
}

.pannello {
  /*display: block; */

  border: 5px black solid;

  background-color: white;

  box-shadow: -7px 7px 0 0 black; /*rgb(82, 255, 47);*/
}

.margini {
  margin: 1em;
}

.margine-sotto {
  margin-bottom: 1em;
}

.padding {
  padding: 1em;
}

.centra {
  text-align: center;
}

.giustifica {
  text-align: justify;
}

/********************
    fine custom  
*********************/



/********************
   grid styles start 
*********************/

[class*="col-"] {
  float: left;
  /*padding: 1em;*/
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones only */
  [class*="col-"] {
    width: 100%;
  }
}

.row {
  /*padding: 2em;*/
}

.row::after {
  content: ""; /* sets the content after the div.row element */
  clear: both; /* not allows the floating on left and right of the div.row */
  display: table; /* div.row acts like a table */
}

/********************
   grid styles end 
*********************/

