/* index styles */

body {
  /*background-color: black !important;*/
  color: white;
  text-shadow: 0 0 4px white;
}

/*pseudo*/
:focus {
  outline: none;
}

/* scroll bar */
::-webkit-scrollbar {
  display: none;
}


/* filmstripe structure */
.filmleft {
  position: fixed;   
  left: 0px;
  background-image: url(../img/pellicola/pellicola_sx.svg);
  width: 110px;    
  height: 100%;
}

.filmright {
  position: fixed;
  right: 0px;      
  background-image: url(../img/pellicola/pellicola_dx.svg);
  width: 110px;     
  height: 100%;
}

.main {
  position: fixed;
  left: 109px;
  right: 109px;
  width: calc(100% - 108px * 2);
  height: 100%;
  background-color: #575757;
  overflow: hidden;
}


/* frame and content boxes*/
div.frame {
  background-color: hsl(0, 0%, 34%);
  height: 100%;
  box-sizing: border-box;
} 

div.content {
  padding: 64px;
  height: calc(100% - 4em);
  border-radius: 1.5em;     
  margin: 2em 1em 2em 1em; 
  border: 2px #575757 solid;
  background: rgb(24, 24, 24);
  box-shadow: inset 0 0 20px 10px black;
  overflow-x: hidden;
  overflow-y: auto;
}


/* navigation buttons */
button.scrollButton {
  color: white;
  text-shadow: 0 0 10px white;
  background: none; border: 0;
  opacity: 0.3;        
}

button.scrollButton:hover {        
  opacity: 1;     
  cursor: pointer;       
  border-radius: 1em;
  border: 3px white solid;
  background: black;
  box-shadow: 0 0 10px white;
}

button.scrollButton {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 64px;
  text-align: center;
  width: 1em; height: 1em;
}

button#scrollUp:before {
  content: "↑";
  position: relative;
  top: -0.26em;
}

button#scrollDown:before {
  content: "↓";
  position: relative;
  top: -0.26em;
}
